{% for getdata in contactDetail %}
<div class="cont-details">
    <div class="cont-top">
        <div class="cont-left text-center">
            <span class="fa fa-phone text-primary"></span>
        </div>
        <div class="cont-right">
            <h6>Call Us</h6>
            <p class="para"><a href="tel:+44 99 555 42">+254 {{getdata.mobile}}</a></p>
        </div>
    </div>
    <div class="cont-top margin-up">
        <div class="cont-left text-center">
            <span class="fa fa-envelope-o text-primary"></span>
        </div>
        <div class="cont-right">
            <h6>Email Us</h6>
            <p class="para"><a href="mailto:example@mail.com" class="mail">{{getdata.email}}</a></p>
        </div>
    </div>
    <div class="cont-top margin-up">
        <div class="cont-left text-center">
            <span class="fa fa-map-marker text-primary"></span>
        </div>
        <div class="cont-right">
            <h6>Address</h6>
            <p class="para">{{getdata.address}}</p>
        </div>
    </div>
    <div class="cont-top margin-up">
        <div class="cont-left text-center">
            <span class="fa fa-clock-o text-primary"></span>
        </div>
        <div class="cont-right">
            <h6>Time</h6>
            <p class="para">{{getdata.timing}}</p>
        </div>
    </div>
</div>
{% endfor %}