{% extends 'user/base.html' %}

{% block template %}

<!-- beadcrbrumbs -->
<section class="w3l-inner-banner-main">
    <div class="about-inner contact ">
        <div class="container">
            <div class="main-titles-head text-center">
                <h3 class="header-name ">Contact Us</h3>
            </div>
        </div>
    </div>
    <div class="breadcrumbs-sub">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li class="right-side propClone"><a href="{% url 'landing_page' %}" class="">Home <span class="fa fa-angle-right" aria-hidden="true"></span></a> <p></li>
                <li class="active ">Contact</li>
            </ul>
        </div>
    </div>
</section>

<section class="w3l-contact-info-main" id="contact">
    <div class="contact-sec	">
        <div class="container">
            <div class="d-grid contact-view">
                {% include 'user/baseabout.html' %}

                {% load crispy_forms_tags %}
                <div class="map-content-9 mt-lg-0 mt-4">
                    <form method="POST">
                        {% csrf_token %}
                        {{ formContact|crispy }}

                        <button type="submit" class="btn btn-contact" name="submit">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}