{% extends 'dashboard/base.html' %}

{% block template %}
<!-- main content-->
    <div id="page-wrapper">
        <div class="main-page">
            <div class="tables">
                <div class="table-responsive bs-example widget-shadow">
                    <h4>Services Provided</h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Service Name</th>
                                <th>Service Description</th>
                                <th>Service Price (Ksh)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for servicedisplays in servicedisplay %}
                            <tr>
                                <th scope="row">1</th>
                                <td>{{ servicedisplays.servicename }}</td>
                                <td>{{ servicedisplays.servicedescription }}</td>
                                <td>{{ servicedisplays.cost }}/=</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}