{% extends 'dashboard/base.html' %}

{% block template %}
    <!-- main content start-->
    <div id="page-wrapper">
        <div class="main-page">
            <div class="tables">
                <div class="table-responsive bs-example widget-shadow">
                    <h4>More Details:</h4>
                    <table class="table table-bordered">
                        <tr>
                            <th>Appointment Number</th>
                            <td>706446201</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Brian Momanyi</td>
                        </tr>
    
                        <tr>
                            <th>Email</th>
                            <td>momanyi@gmail.com</td>
                        </tr>
                        <tr>
                            <th>Mobile Number</th>
                            <td>0727241497</td>
                        </tr>
                        <tr>
                            <th>Appointment Date</th>
                            <td>2023-06-20</td>
                        </tr>
    
                        <tr>
                            <th>Appointment Time</th>
                            <td>12:00:00</td>
                        </tr>
    
    
                        <tr>
                            <th>Apply Date</th>
                            <td>2023-06-20 11:51:55</td>
                        </tr>
    
    
                        <tr>
                            <th>Status</th>
                            <td>Accepted</td>
                        </tr>
                    </table>
                    <table class="table table-bordered">
                        <tr>
                            <th>Remarks</th>
                            <td>Appointment has been accepted</td>
                        </tr>
    
                        <tr>
                            <th>Remark date</th>
                            <td>2023-06-20 11:53:12</td>
                        </tr>
    
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}