{% extends 'base.html' %}

{% block template %}

<section class="w3l-teams-15">
    <div class="team-single-main ">
        <div class="column2 image-text">
            <h3 class="team-head ">Experience Excellence in Automotive Care</h3>
            <p class="para  text ">At our garage, we take pride in delivering exceptional automotive services tailored to meet your vehicle's needs. With years of industry expertise and a team of highly skilled technicians, we are committed to providing you with a seamless and reliable experience</p>
            <a href="#" class="btn logo-button top-margin mt-4">Book Appointment</a>
        </div>
    </div>
</section>

{% endblock %}
