<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UTAWALA SERVICE GARAGE MANAGEMENT SYSTEM</title>

    <!-- Template CSS -->
    <link rel="stylesheet" href="../static/css/style-starter.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:400,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body id="home">
    <section class=" w3l-header-4 header-sticky">
        <header class="absolute-top">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <h1><a class="navbar-brand" href="index.php">Utawala SGMS</a></h1>

                    <button class="navbar-toggler bg-gradient collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa icon-expand fa-bars"></span>
                        <span class="fa icon-close fa-times"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Home <span class="sr-only"></span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about.html">About</a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link" href="services.html">Services</a>
                            </li> 
        
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="signup.html">Signup</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="login.html">Login</a>
                            <!-- </li>
                            <li class="nav-item">
                                <a class="nav-link" href="admin/index.php">Admin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="book-appointment.php">Book Service</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="booking-history.php">Appointment History</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="invoice-history.php">Invoice History</a>
                            </li>
                                                <li class="nav-item">
                                <a class="nav-link" href="profile.php">Profile</a>
                            </li>
                                                <li class="nav-item">
                                <a class="nav-link" href="change-password.php">Setting</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link" href="logout.php">Logout</a>
                            </li> -->
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
    </section>

    <!-- beadcrbrumbs -->
    <section class="w3l-inner-banner-main">
        <div class="about-inner about ">
            <div class="container">
                <div class="main-titles-head text-center">
                    <h3 class="header-name ">Signup</h3>
                </div>
            </div>
        </div>
        <div class="breadcrumbs-sub">
            <div class="container">
                <ul class="breadcrumbs-custom-path">
                    <li class="right-side propClone"><a href="index.html" class="">Home <span class="fa fa-angle-right" aria-hidden="true"></span></a> <p></li>
                    <li class="active ">Signup</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="w3l-contact-info-main" id="contact">
        <div class="contact-sec	">
            <div class="container">
                <div class="d-grid contact-view">
                    <div class="cont-details">
                        <div class="cont-top">
                            <div class="cont-left text-center">
                                <span class="fa fa-phone text-primary"></span>
                            </div>
                            <div class="cont-right">
                                <h6>Call Us</h6>
                                <p class="para"><a href="tel:+44 99 555 42">+254 700 013 897</a></p>
                            </div>
                        </div>
                        <div class="cont-top margin-up">
                            <div class="cont-left text-center">
                                <span class="fa fa-envelope-o text-primary"></span>
                            </div>
                            <div class="cont-right">
                                <h6>Email Us</h6>
                                <p class="para"><a href="mailto:example@mail.com" class="mail">momanyiturner@gmail.com</a></p>
                            </div>
                        </div>
                        <div class="cont-top margin-up">
                            <div class="cont-left text-center">
                                <span class="fa fa-map-marker text-primary"></span>
                            </div>
                            <div class="cont-right">
                                <h6>Address</h6>
                                <p class="para">Kincar Utawala , Nairobi Kenya</p>
                            </div>
                        </div>
                        <div class="cont-top margin-up">
                            <div class="cont-left text-center">
                                <span class="fa fa-clock-o text-primary"></span>
                            </div>
                            <div class="cont-right">
                                <h6>Time</h6>
                                <p class="para">8:30 am to 7:30 pm</p>
                            </div>
                        </div>
                    </div>
                    <div class="map-content-9 mt-lg-0 mt-4">
                        <h3>Register with us!!</h3>
                        <form method="post" name="signup">

                            <div style="padding-top: 30px;">
                                <label>First Name</label>
                                <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name" required="">
                            </div>
                            <div style="padding-top: 30px;">
                                <label>Last Name</label>
                                <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last Name" required="">
                            </div>
                            <div style="padding-top: 30px;">
                                <label>Mobile Number</label>
                                <input type="text" class="form-control" placeholder="Mobile Number" required="" name="mobilenumber" pattern="[0-9]+" maxlength="10">
                            </div>
                            <div style="padding-top: 30px;">
                                <label>Email address</label>
                                <input type="email" class="form-control" class="form-control" placeholder="Email address" required="" name="email">
                            </div>
                            <div style="padding-top: 30px;">
                                <label>Password</label>
                                <input type="password" class="form-control" name="password" placeholder="Password" required="true">
                            </div>
                            <div style="padding-top: 30px;">
                                <label>Repeat password</label>
                                <input type="password" class="form-control" name="repeatpassword" placeholder="Repeat password" required="true">
                            </div>

                            <div class="twice-two" style="padding-top: 30px;">
                                <a class="link--gray" style="color: #18461A;" href="login.php">Already Have an Account? Login</a>

                            </div>

                            <button type="submit" class="btn btn-contact" name="submit">Signup</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="w3l-footer-29-main w3l-copyright">
        <div class="container">
          <div class="row bottom-copies">
            <p class="col-lg-8 copy-footer-29">© 2023 Utawala Garage Service Management System</p>
      
            <div class="col-lg-4 main-social-footer-29">
              <a href="#facebook" class="facebook"><span class="fa fa-github"></span></a>
              <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
            </div>
      
          </div>
        </div>
    </section>

    <script src="assets/js/jquery-3.3.1.min.js"></script> <!-- Common jquery plugin -->
    <!--bootstrap working-->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- //bootstrap working-->
    <!-- disable body scroll which navbar is in active -->
<script>
$(function () {
  $('.navbar-toggler').click(function () {
    $('body').toggleClass('noscroll');
  })
});
</script>
</body>
</html>